@font-face{
	font-family:'Trebuchet MS'; 
	src:url("../../fonts/Trebuchet MS.ttf");
}

@font-face{
	font-family:'Trebuchet MS Italic'; 
	src:url("../../fonts/Trebuchet MS Italic.ttf");
}

@font-face{
	font-family:'TrebuchetBold'; 
	src:url("../../fonts/TrebuchetBold.ttf");
}

@font-face{
	font-family:'Trebuchet MS Bold Italic'; 
	src:url("../../fonts/Trebuchet MS Bold Italic.ttf");
}